<form action="/greet" method="POST">
  <h1>Hello there!</h1>
  <p>What's your name?</p>
  <label for="name">
    Name: <input type="text" id="name" name="name" required>
  </label>
  <p>When's your birthday?</p>
  <label for="birthday">
    Birthday: <input type="date" id="birthday" name="birthday" required>
  </label>
  <button type="submit">Go!</button>
</form>
